@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root{
    --black: rgb(29, 32, 32);
     --playfair: "Playfair Display";
    --italic: "Times New Roman";
    --location-col: rgb(246, 248, 242);
    --endText: "Pacifico";
}

body{
    padding: 0;
    margin: 0;
    background-color: var(--black);
}

/* 
    INTRO
*/

.gradient-bg{
  min-height: 200vh;
  background: linear-gradient(200deg,
  #191229 0% 25.5%,
  #7e688b 45% 52%,
  var(--black) 73% 
  );
}

.intro-img-wrapper{
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.intro-img-text{
  position: absolute;
  transform-origin: center;
  width: 50vw;
  height: auto;
  left: 50%;
  top: 50%;
  text-align: center;
  font-family: "Roboto";
  font-weight: 600;
  paint-order:  stroke fill;
  -webkit-text-stroke: 4px white;
  
  font-size: 15rem;
  color: rgba(255, 255, 255, 0.25);
  z-index: 1000; 
}

.gap50{
    position: relative;
    height: 50vh;
}

.intro-img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-position: 55% 15%;
  object-fit: cover; 
  left: 50%;
  top: 50%;
  transform-origin: center;
  border-radius: 5%;
}

.locations-wrapper{
  position: relative;
  margin: 150px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.location-box{
  height: fit-content;
  width: fit-content;
  overflow: hidden;
}

.location-text{
  color: var(--location-col);
  padding: 0 0.1em;
  margin: 0;
  font-size: min(10vw, 200px);
  line-height: 0.90;
}



.location-box:nth-of-type(odd)  .location-text{
  font-family: var(--playfair);
  font-weight: 700;
  padding-bottom: 0.06em;
  font-size: min(9vw, 180px);
}

.location-box:nth-of-type(even)  .location-text{
  font-family: var(--italic);
  font-weight: 100;
  font-style: italic;
}


.circle-pic{
    background-image: url("./assets/nz/circlePic.JPG");
    background-position: center;
    background-size: 100vh 100vh;
    height: 100vh;
    width: 100vh;
    z-index: -1;
    position: absolute;
    transform-origin: center;
}

.circle-text{
    font-size: 3vw;
    color: white;
}

.circle-wrapper{
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    height: 140vh;
    width: 100vw;
}

/*
        GALLERY
*/

.location-list{
    position: absolute;
    height: calc((65vw * 6) + 70vh);
    width: 100vw;
}

.gap50{
    height: 70vh;
}

.location-bg{
    margin-top: 0px;
    line-height: 0.6;
    top: 30vh;
    opacity: 0;
    position: sticky;
    width: 90vw;
    text-align: start;
    left: 80px;

    font-family: var(--playfair);
    font-size: 14.5vw;
    font-weight: 800;
    color: rgb(19, 17, 17);
}

.location-bg.is-active{
    opacity: 1;
}

.collage{
    width: 100vw;
    height: 65vw;
    position: relative;
}

.collage img{
    position: absolute;
    border-radius: 3%;
    --widthOffset: 1.5vw;
    --heightOffset: 2.5vh;
}

.collage .nz:nth-child(1){  /* Beach */
    width: calc((22.27vw - var(--widthOffset)) + var(--heightOffset));   /* 550px */
    left: 5vw;
    top: 0%;
}

.collage .nz:nth-child(2){ /* Bike */
    width: calc((18.22vw - var(--widthOffset)) + var(--heightOffset));   /* 450px */
    left: 20vw;
    top: 65%;
}

.collage .nz:nth-child(3){ /* Group */
    width: calc((22.27vw - var(--widthOffset)) + var(--heightOffset));   /* 550px */
    left: 55vw;
    top: 10%;
}

.collage .nz:nth-child(4){ /* Mountain */
    width: calc((32.39vw - var(--widthOffset)) + var(--heightOffset));   /* 800px */
    left: 44vw;
    top: 75%;
}

.collage .nz:nth-child(5){ /* Cave */
    width: calc((16.19vw - var(--widthOffset)) + var(--heightOffset));   /* 400px */
    left: 35vw;
    top: 20%;
}

.collage .nz:nth-child(6){ /* Mountain Lake */
    width: calc((15.19vw - var(--widthOffset)) + var(--heightOffset));   /* 400px */
    left: 80vw;
    top: 55%;
}

.collage .indo:nth-child(1){  /* Summit */
    width: calc((16.19vw - var(--widthOffset)) + var(--heightOffset));   /* 400px */
    left: 60vw;
    bottom: -2%;
}

.collage .indo:nth-child(2){  /* Manta */
    width: calc((28.34vw - var(--widthOffset)) + var(--heightOffset));   /* 700px */
    left: 20vw;
    top: 70%;
}

.collage .indo:nth-child(3){  /* Horses */
    width: calc((18.22vw - var(--widthOffset)) + var(--heightOffset));   /* 450px */
    left: 76vw;
    top: 5%;
}

.collage .indo:nth-child(4){  /* Sunset */
    width: calc((42.49vw - var(--widthOffset)) + var(--heightOffset));   /* 1000px */
    left: 32vw;
    top: 22%;
}

.collage .indo:nth-child(5){  /* Turtle */
    width: calc((16.19vw - var(--widthOffset)) + var(--heightOffset));   /* 400px */
    left: 11vw;
    top: 7%;
}

.collage .thailand:nth-child(1){  /* Monkey */
    width: calc((16.19vw - var(--widthOffset)) + var(--heightOffset));   /* 400px */
    left: 70vw;
    top: 20%;
}

.collage .thailand:nth-child(2){  /* Space Temple */
    width: calc((18.22vw - var(--widthOffset)) + var(--heightOffset));   /* 450px */
    left: 40vw;
    top: 5%;
}

.collage .thailand:nth-child(3){  /* Elephant */
    width: calc((18vw - var(--widthOffset)) + var(--heightOffset));   /* 400px */
    left: 58vw;
    top: 70%;
}

.collage .thailand:nth-child(4){  /* Palm Trees */
    width: calc((20.24vw - var(--widthOffset)) + var(--heightOffset));   /* 500px */
    left: 10vw;
    top: 25%;
}

.collage .thailand:nth-child(5){  /* Gold Statues */
    width: calc((16.19vw - var(--widthOffset)) + var(--heightOffset));   /* 400px */
    left: 35vw;
    bottom: 0%;
}

.collage .vietnam:nth-child(1){  /* Cave */
    width: calc((23.19vw - var(--widthOffset)) + var(--heightOffset));
    left: 31vw;
    top: 1%;
}

.collage .vietnam:nth-child(2){  /* Dog */
    width: calc((19.19vw - var(--widthOffset)) + var(--heightOffset));
    right: 11vw;
    top: 9%;
}

.collage .vietnam:nth-child(3){  /* Rice Paddy */
    width: calc((21.19vw - var(--widthOffset)) + var(--heightOffset));
    left: 31vw;
    bottom: -2%;
}

.collage .vietnam:nth-child(4){  /* Light Show */
    width: calc((19.19vw - var(--widthOffset)) + var(--heightOffset));
    left: 5vw;
    top: 16%;
}

.collage .vietnam:nth-child(5){  /* Sunset */
    width: calc((40.19vw - var(--widthOffset)) + var(--heightOffset)); 
    right: 5vw;
    bottom: 7%;
}

.collage .cambodia:nth-child(1){  /* Monkey*/
    width: calc((20.19vw - var(--widthOffset)) + var(--heightOffset));
    left: 9vh;
    bottom: 3%;
}

.collage .cambodia:nth-child(2){  /* Chum Mey */
    width: calc((21.19vw - var(--widthOffset)) + var(--heightOffset));
    right: 5vw;
    top: 9%;
}

.collage .cambodia:nth-child(3){  /* Weathered Statues */
    width: calc((19.19vw - var(--widthOffset)) + var(--heightOffset));
    right:7vw;
    bottom: 6%;
}

.collage .cambodia:nth-child(4){  /* Gold Statue */
    width: calc((22.19vw - var(--widthOffset)) + var(--heightOffset));
    right: 38vw;
    bottom: 10%;
}

.collage .cambodia:nth-child(5){  /* Sleepy */
    width: calc((44.19vw - var(--widthOffset)) + var(--heightOffset));
    right: 35vw;
    bottom: 56%;
}

.collage .borneo:nth-child(1){  /* Waterfall */
    width: calc((26.19vw - var(--widthOffset)) + var(--heightOffset));
    left: 7vw;
    top: 9%;
}

.collage .borneo:nth-child(2){  /* Baby Monkey */
    width: calc((12.19vw - var(--widthOffset)) + var(--heightOffset));
    left: 40vw;
    top: 35%;
}

.collage .borneo:nth-child(3){  /* Bornean Standoff */
    width: calc((28.19vw - var(--widthOffset)) + var(--heightOffset));
    right: 14vw;
    top: 8%;
}